#navbar {
  width: 100%;
}

.page {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#status-connected {
  display: none;
}

#data-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;

  min-height: 50px;
  max-height: 50vh;
  margin-top: 20px;
  background-color: beige;
}

#data-container-wrapper {
  margin-top: 50px;
  width: 60%;
}

#text-preset-input {
  padding: 10px;
  min-height: 250px;
  width: 400px;
}

#device-info {
  display: none;
}

#device-info h3 {
  margin-right: 20px;
}

.h-layout {
  display: flex;
}

.h-layout.aligned {
  align-items: center;
}

.v-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.v-layout > * {
  margin: 10px 0px 10px 0px;
}

#camera-container {
  min-width: 40vw;
  min-height: 30vh;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}

#user-picture {
  /* width: 100%;
  height: 100%; */
  display: none;
}

#user-video {
  /* width: 100%;
  height: 100%; */
  /* top: 0;
  left: 0; */
  /* position: fixed; */
  display: none;
}

#camera-text {
  display: none;
}

#camera-download {
  display: none;
}

#Home {
  display: flex;
}

#Text {
  display: none;
}

#Text > * {
  margin: 15px 0px;
}

#Camera {
  display: none;
}

#Slides {
  display: none;
}

#heartrate-text {
  /* display: none; */
}

#calibration {
  margin: 30px 0px;
  background-color: lightsteelblue;
  display: none;
  padding: 20px 30px;
  border-radius: 5px;
  width: 35vw;
  text-align: center;
}

#calibration .h-layout {
  justify-content: space-around;
}

#calibration-countdown {
  font-size: 24px;
  margin-left: 10px;
}

#calibration-instructions {
  font-size: 18px;
}
